.header{
    height: 768px;
}
.header__bar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18px;
    top: 35px;
    left: 55px;
}
.header__left{
    z-index: 1;
}
.header .container{
    display: flex;
}
.nav{
    display: flex;
    width: 18px;
    height: 16px;
    margin-bottom: 295px;
    background: url(../img/header/burger-menu.svg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 18px;
    height: 75px;
    &__inst{
        width: 18px;
        height: 18px;
        background: url(../img/social/instagram_icon.svg) no-repeat center;
        background-size: cover;
    }
    &__fb{
        width: 9px;
        height: 17px;
        background: url(../img/social/facebook_icon.svg) no-repeat center;
        background-size: cover;
    }
    &__tw{
        width: 17px;
        height: 14px;
        background: url(../img/social/twitter_icon.svg) no-repeat center;
        background-size: cover;
    }
}
.logo{
    display: flex;
    align-items: center;
    padding-top: 31px;
}
.logo__title{
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.14em;
    line-height: 16px;
    text-transform: uppercase;
    color: #555248;
    padding-left: 3px;
}
.menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 99px;
    height: 21px;
    top: 35px;
    right: 55px;
}
.icon__search{
    width: 16px;
    height: 16px;
    background: url(../img/header/search.svg) no-repeat center;
    background-size: cover;
}
.icon__like{
    position: relative;
    width: 19px;
    height: 16px;
    background: url(../img/header/like.svg) no-repeat center;
    background-size: cover;
}
.like__number{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 13px;
    background-color: #e6c8b4;
    border-radius: 50%;
    font-size: 8px;
    color: #1b1a17;
    top: -4px;
    left: 53px;
}
.icon__cart{
    width: 18px;
    height: 16px;
    background: url(../img/header/cart.svg) no-repeat center;
    background-size: cover;
}
.offer{
    display: flex;
}
.offer__content{
    padding-top: 179px;
    padding-left: 87px;
}
h1{
    margin: 0;
    padding-bottom: 13px;
    font-size: 45px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    color: #1b1a17;
    line-height: 60px;
}
h1:before{
    display: block;
    content: '';
    position: relative;
    top: 35px;
    right: 60px;
    background-color: #8b8371;
    width: 50px;
    height: 1px;
}
h2{
    margin: 0;
    padding-bottom: 39px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    color: #1b1a17;
    line-height: 40px;
}
.offer__text{
    width: 258px;
    margin: 0;
    padding-bottom: 64px;
    color: #1b1a17;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}
.button{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.05em;
    padding: 26px 38px;
    background-color: #444240;
}
.header__right{
    position: relative;
}
.main__watch{
    margin-left: 134px;
}
.watch__decor{
    position: absolute;
    right: 200px;
    width: 496px;
    height: 768px;
    background: url(../img/header/ellipse.png) no-repeat center;
    background-size: cover;
    z-index: -1;
}
.watch__price{
    position: absolute;
    top: 130px;
    left: 110px;
    font-family: 'Prata', serif;
    line-height: 22px;
    font-weight: 400;
    font-size: 16px;
}
.watch__price::after{
    display: block;
    content: '';
    position: relative;
    top: -12px;
    left: 85px;
    background-color: #8b8371;
    width: 50px;
    height: 1px;
}
.watch__size{
    position: absolute;
    bottom: 147px;
    right: -90px;
    font-family: 'Prata', serif;
    line-height: 22px;
    font-weight: 400;
    font-size: 16px;
}
.watch__size::before{
    display: block;
    content: '';
    position: relative;
    top: 10px;
    left: -65px;
    background-color: #8b8371;
    width: 50px;
    height: 1px;
}