.popular-models__title{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: #1b1a17;
    line-height: 43px;
    font-weight: 400;
    padding-top: 79px;
    padding-bottom: 0;
}
.popular-models__all-watch{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #444240;
    float: right;
}
.popular-models__all-watch::after{
    display: block;
    content: '';
    position: relative;
    background-color: #c4c0b6;
    bottom: -7px;
    left: 3px;
    width: 101px;
    height: 1px;
}
.watches{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 52px;
}
.watches__1{
    width: 370px;
    height: 467px;
    padding: 40px 29px;
    margin-right: 40px;
}
.watch__title{
    display: flex;
    flex-direction: column;
}
.watch__name{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #1b1a17; 
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding-bottom: 5px;
}
.watch__cost{
    font-family: 'Prata', serif;
    line-height: 16px;
    font-weight: 400;
    font-size: 12px;
}
.watch__image-1{
    position: relative;
}
.watch__image-1::after{
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 313px;
    height: 313px;
    background: url('../img/watches/ellipse-1.png') no-repeat center top;
    background-size: cover;
    z-index: -1;
}
.watch__details{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    line-height: 21px;
    color: #1b1a17;
}
.watches__1 .watch__details{
    position: relative;
    margin-left: 44px;
}
.watches__1 .watch__details::before{
    display: block;
    content: '';
    position: absolute;
    background-color: #8b8371;
    bottom: 9px;
    left: -45px;
    width: 30px;
    height: 1px;
}
.watches__2{
    display: flex;
    width: 760px;
    height: 478px;
}
.watches__2-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 55px 0 55px 55px;
}
.watches__2-left .watch__details{
    position: relative;
    margin-left: 66px;
}
.watches__2-left .watch__details::before{
    display: block;
    content: '';
    position: absolute;
    background-color: #8b8371;
    bottom: 9px;
    left: -65px;
    width: 50px;
    height: 1px;
}
.watch__image-2{
    position: relative;
    width: 470px;
    height: 472px;
}
.watch__image-2::before{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 239px;
    height: 467px;
    background: url('../img/watches/ellipse-2.png') no-repeat center right;
    background-size: cover;
    z-index: -1;
}
.watches__3{
    display: flex;
    width: 565px;
    height: 220px;
    margin-top: 29px;
    margin-right: 40px;
}
.watches__3-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0 40px 40px;
}
.watches__3 .watch__details{
    position: relative;
    margin-left: 48px;
}
.watches__3 .watch__details::before{
    display: block;
    content: '';
    position: absolute;
    background-color: #8b8371;
    bottom: 9px;
    left: -45px;
    width: 30px;
    height: 1px;
}
.watch__image-3{
    position: relative;
    width: 274px;
    height: 240px;
    margin-left: 29px;
}
.watch__image-3::after{
    position: absolute;
    display: block;
    content: '';
    top: 10px;
    left: 30px;
    width: 220px;
    height: 220px;
    background: url('../img/watches/ellipse-1.png') no-repeat center top;
    background-size: cover;
    z-index: -1;
}
.watches__4{
    display: flex;
    width: 565px;
    height: 226px;
    margin-top: 29px;
}
.watches__4-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0 40px 40px;
}
.watches__4 .watch__details{
    position: relative;
    margin-left: 48px;
}
.watches__4 .watch__details::before{
    display: block;
    content: '';
    position: absolute;
    background-color: #8b8371;
    bottom: 9px;
    left: -45px;
    width: 30px;
    height: 1px;
}
.watch__image-4{
    position: relative;
    width: 225px;
    height: 226px;
    margin-left: 29px;
}
.watch__image-4::after{
    position: absolute;
    display: block;
    content: '';
    top: 10px;
    left: 10px;
    width: 220px;
    height: 220px;
    background: url('../img/watches/ellipse-1.png') no-repeat center top;
    background-size: cover;
    z-index: -1;
}